*{
  font-family: 'alata', sans-serif;
  background-color: aqua;
}


body{

}

@media screen and (min-width: 467px) {
  nav {
    display: none;
    font-size: 2em 100px / 1em 50px;
  }
  body {
    background-color: aqua;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  
}

@media screen and (min-width: 1024px) {
  
}
/*#